<div class="container">
	<div class="page-header">
		<h1>My records <small>owned by <%= current_user.first_name %> <%= current_user.last_name %></small></h1>
	</div>
	<table class="table table-condensed table-hover">
		<thead>
			<td>Record #</td>
			<td>Recorded at</td>
			<td>Contact type</td>
			<td>Patron</td>
			<td>Question</td>
			<td>Time spent</td>
			<td>Satisfied?</td>
			<td></td>
		</thead>
		<tbody>
			<% @records.each do |record| %>
				<tr>
					<td><%= record.id %></td>
					<td><%= record.created_at.strftime("%e %b %Y %H:%M:%S%p") %></td>
					<td><%= record.contact_type %></td>
					<td><%= record.patron %></td>
					<td><%= record.question %></td>
					<td><%= record.time_spent %></td>
					<td><%= record.satisfaction %></td>
					<td><%= link_to "Edit", edit_record_path(record) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>


</div>