<div class="jumbotron">
	<h1>Hello, I am <%= current_user.first_name %>!</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis libero magni veniam, totam architecto distinctio assumenda aliquid eveniet accusantium amet rerum fugiat. Sint libero odio sed enim facilis unde possimus.</p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="container">
	<div class="page-header">
		<h1>Data Collection Form <small>Please answer all quesitons</small></h1>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, consectetur saepe, recusandae dolorem mollitia earum beatae, blanditiis incidunt ipsam veritatis quod, odio necessitatibus quos quidem nesciunt sunt at provident magni.</p>

	<%= form_for @record do |f| %>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Inquiry format</h3>
		</div>
		<div class="panel-body">
			<!-- Question 1 -->
			<%= f.label :contact_type, "How is the inquiry recieved?" %> <br>
			<div class="radio-inline">
				<%= f.radio_button :contact_type, "phone" %>
				<%= f.label :contact_type, "By phone", :value=>"phone", :style=>'none' %>
			</div>
			<div class="radio-inline">
				<%= f.radio_button :contact_type, "email" %>
				<%= f.label :contact_type, "By e-mail", :value=>"email" %>
			</div>
			<div class="radio-inline">
				<%= f.radio_button :contact_type, "person", :checked => true %>
				<%= f.label :contact_type, "In person", :value=>"person" %>
			</div>
			<br>
			<br>
			
			<!-- Question 2 -->
			<%= f.label :patron, "Tell us about the patron." %> <br>
			<div class="radio-inline">
				<%= f.radio_button :patron, "student", :checked => true %>
				<%= f.label :patron, "Student", :value=>"student" %>
			</div>
			<div class="radio-inline">
				<%= f.radio_button :patron, "faculty" %>
				<%= f.label :patron, "Faculty member", :value=>"faculty" %>
			</div>
			<div class="radio-inline">
				<%= f.radio_button :patron, "other" %>
				<%= f.label :patron, "Other", :value=>"other" %>
			</div>

		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Inquiry detail</h3>
		</div>
		<div class="panel-body">
			<!-- Question 3 -->
			<%= f.label :question, "What is the Inquiry about?" %> <br>
			<%= f.select :question, [['Please choice one of the following...', '', :selected=>true,:disabled=>true],['General Inquiries','general'],['Technical Issues','techincal'],['Career Advice','career'],['Academic & Researches','research'],['Other','other']] %>
			<br>
			<br>
			<%= f.text_area :question, :id=>"research-textbox", :placeholder=>"Please fill in course code.", :hidden=>true, :class=>"form-control" %>
			<%= f.text_area :question, :id=>"other-textbox", :placeholder=>"Please fill in details.", :hidden=>true, :class=>"form-control" %>

<!-- 			<%#= f.label :question, "What is the Inquiry about?" %> <br>
			<div class="radio container">
				<%#= f.radio_button :question, "general" %>
				<%#= f.label :question, "General", :value=>"general" %>
			</div>
			<div class="radio container">
				<%#= f.radio_button :question, "technical" %>
				<%#= f.label :question, "Technical", :value=>"technical" %>
			</div>	
			<div class="radio container">
				<%#= f.radio_button :question, "acedemic" %>
				<%#= f.label :question, "Research", :value=>"acedemic" %>
				<%#= f.text_field :question, :placeholder=>"Course code" %>
			</div>	
			<div class="radio container">
				<%#= f.radio_button :question, "other" %>
				<%#= f.label :question, "Other", :value=>"other" %>
				<%#= f.text_field :question %>
			</div> -->
			<br>

		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Panel title</h3>
		</div>
		<div class="panel-body">
			Panel content
		</div>
	</div>

	<% end %>


</div> <!-- container -->

